
@using DemoTools.BLL.DemoNorthwind
@model AzEmployees
@{
   ViewBag.Title =  "员工表";
 }
<h2>员工表</h2>
   <fieldset>
    <legend>员工表</legend>
        	        <div class="display-label">
           EmployeeID_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.EmployeeID)
        </div>
         
	        <div class="display-label">
           LastName_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.LastName)
        </div>
         
	        <div class="display-label">
           FirstName_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.FirstName)
        </div>
         
	        <div class="display-label">
           Title_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.Title)
        </div>
         
	        <div class="display-label">
           TitleOfCourtesy_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.TitleOfCourtesy)
        </div>
         
	        <div class="display-label">
           BirthDate_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.BirthDate)
        </div>
         
	        <div class="display-label">
           HireDate_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.HireDate)
        </div>
         
	        <div class="display-label">
           Address_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.Address)
        </div>
         
	        <div class="display-label">
           City_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.City)
        </div>
         
	        <div class="display-label">
           Region_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.Region)
        </div>
         
	        <div class="display-label">
           PostalCode_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.PostalCode)
        </div>
         
	        <div class="display-label">
           Country_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.Country)
        </div>
         
	        <div class="display-label">
           HomePhone_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.HomePhone)
        </div>
         
	        <div class="display-label">
           Extension_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.Extension)
        </div>
         
	        <div class="display-label">
           Photo_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.Photo)
        </div>
         
	        <div class="display-label">
           Notes_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.Notes)
        </div>
         
	        <div class="display-label">
           ReportsTo_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.ReportsTo)
        </div>
         
	        <div class="display-label">
           PhotoPath_simpCN
        </div>
        <div class="display-field">
           @Html.DisplayFor(model => model.PhotoPath)
        </div>
         

    </fieldset>
 
<ul>	@Html.ActionLink("增加", "Create", new { Id=Model.EmployeeID })
	@Html.ActionLink("编辑", "Edit", new { Id=Model.EmployeeID })
	@Html.ActionLink("删除", "Delete", new { Id=Model.EmployeeID })
</ul>

